*bz2
*~
*.[adio]
*.l[ao]
*.gdb
*.pyc
*.deps
*.libs

*.patch
*.orig
*.rej
*.diff
/pax-utils-*
contrib

a.out*
lib*.so*
core
.gdb_history
.gdbinit

aclocal.m4
autom4te.cache
build
config.cache
config.h
config.h.in
config.log
config.status
configure
autotools
libtool
Makefile.in
stamp-h1

/dumpelf
/lddtree
/pspax
/scanelf
/scanmacho
/symtree

/man/*.1
